<div class="buttons">
    <div class="button" id="buttonAc"><button (click)="clearAll()">AC</button></div>
    <div class="button" id="buttonC"><button (click)="clearNumber()">C</button></div>
    <div class="button" id="buttonPlus"><button (click)="setOperator('+')">+</button></div>
    <div class="button" id="buttonMinus"><button (click)="setOperator('-')">-</button></div>
    <div class="button" id="buttonSeven"><button (click)="addNumber('7')">7</button></div>
    <div class="button" id="buttonEigth"><button (click)="addNumber('8')">8</button></div>
    <div class="button" id="buttonNine"><button (click)="addNumber('9')">9</button></div>
    <div class="button" id="buttonDivide"><button (click)="setOperator('/')">/</button></div>
    <div class="button" id="buttonFour"><button (click)="addNumber('4')">4</button></div>
    <div class="button" id="buttonFive"><button (click)="addNumber('5')">5</button></div>
    <div class="button" id="buttonSix"><button (click)="addNumber('6')">6</button></div>
    <div class="button" id="buttonOne"><button (click)="addNumber('1')">1</button></div>
    <div class="button" id="buttonTwo"><button (click)="addNumber('2')">2</button></div>
    <div class="button" id="buttonThree"><button (click)="addNumber('3')">3</button></div>
    <div class="button" id="buttonZero"><button (click)="addNumber('0')">0</button></div>
    <div class="button" id="buttonEqual"><button (click)="equals()">=</button></div>
</div>
